* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --lightpurple: #A18AFF;
    --pinkpurple: #CF94FE;
    --lightgrey: #DDDDDF;
    --darkgrey: #7B7A8B;
    --hoverpurple: rgb(190, 116, 250);
}

body {
    font-family: "Roboto", system-ui;
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--lightpurple);
    padding-bottom: 2.3em;
    padding-top: 1.4em;
}

.info-container img {
    width: 80px;
    border-radius: 50%;
}

.sidebar-task-section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
}

/* .task-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .task-heading-text {
    display: flex;
    flex-direction: row;
} */ */

header {
    width: 20%;
    background-color: white;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--lightpurple);
    width: 80%;
    gap: 4em;
    padding-top: 4em;
}

.title {
    width: 55%;
    text-align: left;
    padding-left: 10px;
}

h1 {
    color: white;
}

#enter-new-task {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    gap: 10px;
}

#input-task {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 50px;
    border-radius: 15px;
    border: none;
    padding: 10px 15px;
    font-size: 1.2em;
    color: var(--darkgrey);
} 

#input-task::placeholder {
    color: var(--lightgrey);
}

button:hover {
    cursor: pointer;
}

#submit {
    height: 50px;
    width: 55px;
    border-radius: 50%;
    border: none;
    background-color: white;
    font-size: 1.3em;
    color: var(--pinkpurple);
    transition: all 0.3s ease;

}

#submit:hover {
    color: var(--hoverpurple);
}

#tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 55%;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
    height: 50px;
    width: 95%;
    border-radius: 12px;
}

.task-content input[type=text] {
    border: none;
    color: var(--darkgrey);
    font-size: 1.2em;
    
}

input:focus {
    outline:none;
}

.btn-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-container button {
    border: none;
    font-size: 1.2em;
    background-color: transparent;
    color: var(--pinkpurple);
    transition: all 0.3s ease;

}

.btn-container button:hover {
    color: var(--hoverpurple);
}